@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Light: blue & white */
:root {
  --background: #ffffff;
  --foreground: #1e3a5f;
  --card: #f2f0f0;
  --card-foreground: #1e3a5f;
  --popover: #ffffff;
  --popover-foreground: #1e3a5f;
  --primary: #d62828;
  --primary-foreground: #ffffff;
  --secondary: #fee1db;
  --secondary-foreground: #1e40af;
  --muted: #eff6ff;
  --muted-foreground: #475569;
  --accent: #bfdbfe;
  --accent-foreground: #1e3a8a;
  --destructive: #dc2626;
  --border: rgba(172, 170, 170, 0.647);
  --input: #bfdbfe;
  --ring: #2563eb;
  --radius: 0.625rem;

  --font-sans: "IranSans", "Vazir", "Tahoma", system-ui, sans-serif;
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-primary-light: #dbeafe;
  --color-secondary: #3b82f6;
  --color-accent: #ef4444;
  --color-surface: #f0f7ff;
}

/* Dark: dark blue-gray & white */
.dark {
  --background: #0f172a;
  --foreground: #f8fafc;
  --card: #1e293b;
  --card-foreground: #f8fafc;
  --popover: #1e293b;
  --popover-foreground: #f8fafc;
  --primary: #d62828;
  --primary-foreground: #ffffff;
  --secondary: #334155;
  --secondary-foreground: #e2e8f0;
  --muted: #1e293b;
  --muted-foreground: #94a3b8;
  --accent: #334155;
  --accent-foreground: #f8fafc;
  --destructive: #f14b4b;
  --border: #334155;
  --input: #334155;
  --ring: #60a5fa;

  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-primary-light: #1e3a5f;
  --color-secondary: #60a5fa;
  --color-surface: #0f172a;
}

@theme inline {
  --font-sans: var(--font-sans);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    box-sizing: border-box;
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
    direction: rtl;
  }

  .container {
    @apply mx-auto w-full max-w-7xl;
  }

  .center {
    @apply flex justify-center items-center;
  }
}
